
@keyframes senna{
    0% {width: 0%;opacity: 0%;}
    100%{width: 60%;opacity: 100%;}
    

}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    background-color: rgb(14, 12, 20);
    height: 500vh;
}


/*fonts*/
@font-face {
    font-family: F1-wide;
    src: url(/SiteF1/fonts/Formula1-Wide.otf);
    font-weight: bold;
  }

@font-face {
    font-family: F1-regular;
    src: url(/SiteF1/fonts/Formula1-Regular.otf);
  }

@font-face {
    font-family: F1-bold;
    src: url(/SiteF1/fonts/Formula1-Bold.otf);
    font-weight: bold;
  }

/*fonts-end*/

/*menu-start*/
header{
    display: fixed;
    top:0px;
}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: red;
    
}

.menu-title{
    font-family: F1-wide;
}

.menu-title span{
    font-size: 10px;
    font-family: F1-regular;
}


.nav-bar ul{
list-style-type: none;
}

.nav-bar ul li{
    transition: 1s;
    display: inline-block;
    font-family: F1-regular;
    margin-left: 20px;
}

.nav-items :hover{
    color: azure;
    transition: 0.3s;
}
/*menu-end*/

/*banner-1*/
.banner-1{
    display: flex;
    height: 90vh !important;
    width: 100%;
}


.banner-1-image{
    width: 90%;
    height: 90vh;
    position: absolute;
    right: 0px;
    background-image: url(/SiteF1/images/Ayrton_Senna_Mclaren_Mp4_Brazil_flag_Formula_1_racing_helmet-1919767.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,1))
}

.banner-1-title{
    animation-name: senna;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-iteration-count: initial;
    width: 60%;
    height: 100%;
    background: linear-gradient(90deg, rgba(14,12,20,1) 0%, rgba(14,12,20,1) 50%, rgba(255,255,255,0) 100%);
    z-index: 1;
    font-family: F1-bold;
    color: white;
}

.banner-1-title img{
    margin-left: 15px;
    margin-top: 2%;
    height: 90%;
}
.banner-1-title h1{
    width: 60%;
    background: linear-gradient(90deg, rgba(255, 0, 0) 0%, rgba(255, 0, 0,07) 64%, rgb(255, 0, 0,0) 100%);
}

.legenda h1{
    animation-name: senna;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-iteration-count: initial;
    font-family: F1-bold;
    color:aliceblue;
    width: 60%;
    background: linear-gradient(90deg, rgba(255, 0, 0) 0%, rgba(255, 0, 0,07) 64%, rgb(255, 0, 0,0) 100%);
}

.banner-1-image:hover{
    background-image: url(/SiteF1/images/poster-ayrton-senna-piloto-formula-1-vitoria-campeao-podium-trofeu.jpg);
}

.pilot-video{
    display: flex;
    width: 100vh;
    height: 100vh;

}
.pilot-video video{
   width: 80%;
    
}
/*banner-1-end*/

.boxs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.box{
    flex-wrap: wrap;
width: 300px;
height: 300px;
background-color: aliceblue;
margin-top: 30px;
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
}

#ferrari{
background-image: url(/SiteF1/images/ferrari.jpg);
}
#rb{
    background-image: url(/SiteF1/images/rb.jpg);
}
#alpine{
    background-image: url(/SiteF1/images/2335596ed66aacf0628903515efea09e.webp);
}
#maclaren{
    background-image: url(/SiteF1/images/mclaren.webp  );
}
#alphatauri{
    background-image: url(/SiteF1/images/scuderia-alphatauri-f1-logo-1.jpg);
}
#alpharomeu{
    background-image: url(/SiteF1/images/alfaromeo.jpg);
}
#aston-martin{
    background-image: url(/SiteF1/images/aston-martin.webp) ;
}
#mercedes{
    background-position: 0px -19px ;
    background-image:url( /SiteF1/images/mercedes.jpg )   ;
}
#hass{
    background-size: 80%;
    background-image: url(/SiteF1/images/haas-f1-team9832.logowik.com.webp);
}
.escuderias{
    margin-top: 100px;
} 

.container{
    width: 1280px;
    margin: 0 auto;
}

@media only screen and (max-width: 897px){
    .banner-1-title{
        background-image: none;
        width: 100%;
    }
    .banner-1-image{
        display: block;
        width: 100vh;
        height: 100%;
        

    }
    .banner-1-title img{
        margin-left: 15px;
        margin-top: 2%;
    }
}